In [54]:
import pandas as pd

In [55]:
categories = pd.read_csv("./Data/Categories.csv",index_col="id")
categories

                           Name
id
1                          Beer
2                          Wine
3                       Spirits
4   RTDs/High-Strength Premixes
5                   Cider/Perry

In [56]:
subcategories = pd.read_csv("./Data/Subcategories.csv",index_col="id")
subcategories

    Category                         Name
id
1          1                          Ale
2          1  Weissbier/Weizen/Wheat Beer
3          1        Flavoured/Mixed Lager
4          1               Standard Lager
5          1                      Sorghum
6          1                        Stout
7          1           Non Alcoholic Beer
8          1                        Lager
9          1                    Dark Beer
10         1                Premium Lager
11         1             Mid-Priced Lager
12         1                Economy Lager
13         1                         Beer
14         2                         Wine
15         3                      Spirits
16         4  RTDs/High-Strength Premixes
17         5                  Cider/Perry

In [57]:
locations = pd.read_csv("./Data/Locations.csv", delimiter=";")
locations = locations.T.dropna()
locations.columns = locations.iloc[0]
locations = locations.tail(-1)

In [58]:
locations

id                  Region                 Country
1             Asia Pacific            Asia Pacific
2              Australasia             Australasia
3           Eastern Europe          Eastern Europe
4            Latin America           Latin America
5   Middle East and Africa  Middle East and Africa
6            North America           North America
7           Western Europe          Western Europe
8                    World                   World

# CHANNEL VOLUME DATA

In [59]:
channel_volume = pd.read_csv("./Data/Channel_Volume.csv")

In [60]:
mapping_location = {1.0:'Asia Pacific', 2.0:'Australasia', 3.0:'Eastern Europe', 4.0:'Latin America', 5.0:'Middle East and Africa', 6.0:'North America', 7.0:'Western Europe', 8.0:'World'}
channel_volume['Location'].replace(mapping_location, inplace=True)

In [61]:
channel_volume['Year_text'] = pd.to_datetime(channel_volume['Year_text'].map('{:.2f}'.format), format='mixed')
channel_volume['Year_text'] = channel_volume['Year_text'].dt.strftime("%Y")

channel_volume['Year_date'] = pd.to_datetime(channel_volume['Year_date'])
channel_volume['Year_date'] = channel_volume['Year_date'].dt.strftime("%d/%m/%Y")

In [62]:
channel_volume.loc[(channel_volume["Category"].isna() == True) & (channel_volume["Subcategory"] == "Wine"), "Category"] = "Wine"
channel_volume.loc[(channel_volume["Category"].isna() == True) & (channel_volume["Subcategory"]== "Beer"), "Category"] = "Beer"
channel_volume.loc[(channel_volume["Category"].isna() == True) & (channel_volume["Subcategory"]== "Cider/Perry"), "Category"] = "Cider/Perry"

In [63]:
channel_volume['Volume'] = channel_volume['Volume'].str.replace(',', '.').astype(float)

In [64]:
channel_volume.loc[(channel_volume["Outlet"] == "VEnding"), "Outlet"] = "Vending"

In [65]:
channel_volume.loc[channel_volume["Unit"]=='000 litres',"Volume_liters"] = channel_volume["Volume"] * 1000.0
channel_volume.loc[channel_volume["Unit"]=='million litres',"Volume_liters"] = channel_volume["Volume"] * 1000000.0

In [66]:
channel_volume

,Location,Industry,Edition,Category,Subcategory,Hierarchy_Level,Data_Type,Outlet,Outlet_Hierarchy,Unit,Year_text,Year_date,Volume,Volume_liters
0,Asia Pacific,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2007,31/12/2007,2613.845506,2.613846e+09
1,Asia Pacific,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2008,31/12/2008,2513.025824,2.513026e+09
2,Asia Pacific,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2009,31/12/2009,2421.088595,2.421089e+09
3,Asia Pacific,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2010,31/12/2010,2422.128432,2.422128e+09
4,Asia Pacific,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2011,31/12/2011,2439.336220,2.439336e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8463,Western Europe,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,million litres,2017,31/12/2017,16514.210840,1.651421e+10
8464,Western Europe,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,million litres,2018,31/12/2018,16522.152390,1.652215e+10
8465,Western Europe,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,million litres,2019,31/12/2019,16544.606440,1.654461e+10
8466,Western Europe,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,million litres,2020,31/12/2020,16626.514900,1.662651e+10
8467,Western Europe,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,million litres,2021,31/12/2021,16664.638000,1.666464e+10

In [67]:
channel_volume.to_csv("./clean_data/channel_volume.csv")

# COMPANY SHARE DATA

In [68]:
company_share = pd.read_csv("./Data/Company_Share_GBO_unit.csv", delimiter=";")
company_share = company_share.dropna(ignore_index=True)

In [69]:
company_share['Volume'] = company_share['Volume'].str.replace(',', '.').astype(float)

In [70]:
mapping_location = {1.0:'Asia Pacific', 2.0:'Australasia', 3.0:'Eastern Europe', 4.0:'Latin America', 5.0:'Middle East and Africa', 6.0:'North America', 7.0:'Western Europe', 8.0:'World'}
company_share['Location'].replace(mapping_location,inplace=True)
company_share['Location'].unique()

array(['World', 'Western Europe', 'Eastern Europe', 'Asia Pacific',
       'North America', 'Latin America', 'Australasia',
       'Middle East and Africa'], dtype=object)

In [71]:
subcategories_mapping = subcategories["Name"].to_dict()
company_share['Subcategory_ID'].replace(subcategories_mapping,inplace=True)
company_share = company_share.rename(columns={"Subcategory_ID": "Subcategory"})

In [72]:
company_share['Year_text'] = pd.to_datetime(company_share['Year_text'].map('{:.2f}'.format), format='mixed')
company_share['Year_text'] = company_share['Year_text'].dt.strftime("%Y")

company_share['Year_date'] = pd.to_datetime(company_share['Year_date'], format='mixed', dayfirst=True)
company_share['Year_date'] = company_share['Year_date'].dt.strftime("%d/%m/%Y")

In [73]:
company_share.loc[company_share["Unit"]=='000 litres',"Volume_liters"] = company_share["Volume"] * 1000.0
company_share.loc[company_share["Unit"]=='million litres',"Volume_liters"] = company_share["Volume"] * 1000000.0

In [74]:
company_share["Non_minus_year"] = (company_share["Year_minus_2016"] + 2016)
company_share['Non_minus_year'] = pd.to_datetime(company_share['Non_minus_year'].map('{:.2f}'.format), format='mixed')
company_share['Non_minus_year'] = company_share['Non_minus_year'].dt.strftime("%Y")

In [75]:
company_share

,Location,Industry,Subcategory,Hierarchy_Level,Data_Type,Global_Brand_Owner,Unit,Year_text,Year_date,Year_minus_2016,Volume,Volume_liters,Non_minus_year
0,World,Alcoholic Drinks,Beer,1.0,Total Volume,Anheuser-Busch InBev NV,million litres,2016,31/12/2016,4.0,35506.377320,3.550638e+10,2020
1,World,Alcoholic Drinks,Beer,1.0,Total Volume,Heineken NV,million litres,2016,31/12/2016,4.0,18482.595800,1.848260e+10,2020
2,World,Alcoholic Drinks,Beer,1.0,Total Volume,Carlsberg A/S,million litres,2016,31/12/2016,4.0,11121.698680,1.112170e+10,2020
3,World,Alcoholic Drinks,Beer,1.0,Total Volume,Dragonyte Brewery,million litres,2016,31/12/2016,4.0,6252.382590,6.252383e+09,2020
4,World,Alcoholic Drinks,Beer,1.0,Total Volume,Tsingtao Brewery Co Ltd,million litres,2016,31/12/2016,4.0,7834.494901,7.834495e+09,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21663,World,Alcoholic Drinks,Spirits,1.0,Total Volume,Central European Distribution Corp (CEDC),000 litres,2016,31/12/2016,4.0,223.024726,2.230247e+05,2020
21664,World,Alcoholic Drinks,Spirits,1.0,Total Volume,Hubei Zhijiang Distillery Co Ltd,000 litres,2016,31/12/2016,4.0,78.555881,7.855588e+04,2020
21665,World,Alcoholic Drinks,Spirits,1.0,Total Volume,Rosspirtprom FGUP,000 litres,2016,31/12/2016,4.0,3.708014,3.708014e+03,2020
21666,World,Alcoholic Drinks,Spirits,1.0,Total Volume,Private Label,000 litres,2016,31/12/2016,4.0,307.766367,3.077664e+05,2020
21667,World,Alcoholic Drinks,Spirits,1.0,Total Volume,Others,000 litres,2016,31/12/2016,4.0,8263.549123,8.263549e+06,2020

In [76]:
company_share.to_csv("./clean_data/company_share.csv")

# MARKET SIZE DATA

In [77]:
market_size = pd.read_csv("./Data/Market_Sizes.csv")

In [78]:
market_size['Year'] = pd.to_datetime(market_size['Year'].map('{:.2f}'.format), format='mixed')
market_size['Year'] = market_size['Year'].dt.strftime("%Y")

market_size['Year_date'] = pd.to_datetime(market_size['Year_date'], format='mixed', dayfirst=True)
market_size['Year_date'] = market_size['Year_date'].dt.strftime('%d/%m/%Y')

In [79]:
mapping_location = {1.0:'Asia Pacific', 2.0:'Australasia', 3.0:'Eastern Europe', 4.0:'Latin America', 5.0:'Middle East and Africa', 6.0:'North America', 7.0:'Western Europe', 8.0:'World'}
market_size['Location'].replace(mapping_location,inplace=True)

In [80]:
market_size["Non_minus_year"] = (market_size["Year_minus_2016"] + 2016)
market_size['Non_minus_year'] = pd.to_datetime(market_size['Non_minus_year'].map('{:.2f}'.format), format='mixed')
market_size['Non_minus_year'] = market_size['Non_minus_year'].dt.strftime("%Y")

In [81]:
subcategories_mapping = subcategories["Name"].to_dict()
market_size['Subcategory'].replace(subcategories_mapping,inplace=True)

In [82]:
market_size

,Location,Industry,Subcategory,Hierarchy_Level,Data_Type,Unit,Current_Constant,Currency_Conversion,Year,Year_date,RSP,Volume,Year_minus_2016,Year_minus_2022,Edition,Non_minus_year
0,Asia Pacific,Alcoholic Drinks,Ale,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2016,31/12/2016,301.000,27.000,4,-2,2022,2020
1,Asia Pacific,Alcoholic Drinks,Ale,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2017,31/12/2017,318.000,28.000,5,-1,2022,2021
2,Asia Pacific,Alcoholic Drinks,Ale,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2018,31/12/2018,458.000,40.000,6,0,2022,2022
3,Asia Pacific,Alcoholic Drinks,Ale,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2019,31/12/2019,612.000,51.000,7,1,2022,2023
4,Asia Pacific,Alcoholic Drinks,Ale,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2020,31/12/2020,774.000,62.000,8,2,2022,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1216,Western Europe,Alcoholic Drinks,Cider/Perry,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2022,31/12/2022,6.545,1.204,10,4,2022,2026
1217,Western Europe,Alcoholic Drinks,Cider/Perry,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2023,31/12/2023,6.628,1.214,11,5,2022,2027
1218,Western Europe,Alcoholic Drinks,Cider/Perry,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2024,31/12/2024,6.708,1.227,12,6,2022,2028
1219,Western Europe,Alcoholic Drinks,Cider/Perry,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2025,31/12/2025,6.793,1.240,13,7,2022,2029
1220,Western Europe,Alcoholic Drinks,Cider/Perry,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2026,31/12/2026,6.892,1.256,14,8,2022,2030

In [83]:
market_size.to_csv("./clean_data/market_size.csv")