In [318]:
import pandas as pd

In [466]:
categories = pd.read_csv("./Data/Categories.csv",index_col="id")
categories

                           Name
id
1                          Beer
2                          Wine
3                       Spirits
4   RTDs/High-Strength Premixes
5                   Cider/Perry

In [467]:
subcategories = pd.read_csv("./Data/Subcategories.csv",index_col="id")
subcategories

    Category                         Name
id
1          1                          Ale
2          1  Weissbier/Weizen/Wheat Beer
3          1        Flavoured/Mixed Lager
4          1               Standard Lager
5          1                      Sorghum
6          1                        Stout
7          1           Non Alcoholic Beer
8          1                        Lager
9          1                    Dark Beer
10         1                Premium Lager
11         1             Mid-Priced Lager
12         1                Economy Lager
13         1                         Beer
14         2                         Wine
15         3                      Spirits
16         4  RTDs/High-Strength Premixes
17         5                  Cider/Perry

In [469]:
locations = pd.read_csv("./Data/Locations.csv", delimiter=";")
locations = locations.T.dropna()
locations.columns = locations.iloc[0]
locations = locations.tail(-1)

In [470]:
locations

id                  Region                 Country
1             Asia Pacific            Asia Pacific
2              Australasia             Australasia
3           Eastern Europe          Eastern Europe
4            Latin America           Latin America
5   Middle East and Africa  Middle East and Africa
6            North America           North America
7           Western Europe          Western Europe
8                    World                   World

# CHANNEL VOLUME DATA

In [472]:
channel_volume = pd.read_csv("./Data/Channel_Volume.csv")

In [473]:
mapping_location = {1.0:'Asia Pacific', 2.0:'Australasia', 3.0:'Eastern Europe', 4.0:'Latin America', 5.0:'Middle East and Africa', 6.0:'North America', 7.0:'Western Europe', 8.0:'World'}
channel_volume['Location'].replace(mapping_location, inplace=True)

In [474]:
channel_volume['Year_date'] = pd.to_datetime(channel_volume['Year_date'])
channel_volume['Year_date'] = channel_volume['Year_date'].dt.strftime("%d-%m-%Y")

In [475]:
channel_volume.loc[(channel_volume["Category"].isna() == True) & (channel_volume["Subcategory"] == "Wine"), "Category"] = "Wine"
channel_volume.loc[(channel_volume["Category"].isna() == True) & (channel_volume["Subcategory"]== "Beer"), "Category"] = "Beer"
channel_volume.loc[(channel_volume["Category"].isna() == True) & (channel_volume["Subcategory"]== "Cider/Perry"), "Category"] = "Cider/Perry"

In [476]:
channel_volume['Volume'] = channel_volume['Volume'].str.replace(',', '.').astype(float)

In [477]:
channel_volume.loc[(channel_volume["Outlet"] == "VEnding"), "Outlet"] = "Vending"

In [478]:
channel_volume.loc[channel_volume["Unit"]=='000 litres',"Volume_liters"] = channel_volume["Volume"] * 1000.0
channel_volume.loc[channel_volume["Unit"]=='million litres',"Volume_liters"] = channel_volume["Volume"] * 1000000.0

In [480]:
channel_volume.to_csv("./clean_data/channel_volume.csv")

# COMPANY SHARE DATA

In [481]:
company_share = pd.read_csv("./Data/Company_Share_GBO_unit.csv", delimiter=";")
company_share = company_share.dropna(ignore_index=True)

In [482]:
company_share['Volume'] = company_share['Volume'].str.replace(',', '.').astype(float)

In [483]:
company_share["Unit"].unique()

array(['million litres', '000 litres'], dtype=object)

In [484]:
mapping_location = {1.0:'Asia Pacific', 2.0:'Australasia', 3.0:'Eastern Europe', 4.0:'Latin America', 5.0:'Middle East and Africa', 6.0:'North America', 7.0:'Western Europe', 8.0:'World'}
company_share['Location'].replace(mapping_location,inplace=True)
company_share['Location'].unique()

array(['World', 'Western Europe', 'Eastern Europe', 'Asia Pacific',
       'North America', 'Latin America', 'Australasia',
       'Middle East and Africa'], dtype=object)

In [485]:
subcategories_mapping = subcategories["Name"].to_dict()
company_share['Subcategory_ID'].replace(subcategories_mapping,inplace=True)

In [487]:
company_share['Year_date'] = pd.to_datetime(company_share['Year_date'], format='mixed', dayfirst=True)
company_share['Year_date'] = company_share['Year_date'].dt.strftime("%d-%m-%Y")

In [488]:
company_share.loc[company_share["Unit"]=='000 litres',"Volume_liters"] = company_share["Volume"] * 1000.0
company_share.loc[company_share["Unit"]=='million litres',"Volume_liters"] = company_share["Volume"] * 1000000.0

In [490]:
company_share.to_csv("./clean_data/company_share.csv")

# MARKET SIZE DATA

In [457]:
market_size = pd.read_csv("./Data/Market_Sizes.csv")

In [491]:
market_size['Year_date'] = pd.to_datetime(market_size['Year_date'], format='mixed', dayfirst=True)
market_size['Year_date'] = market_size['Year_date'].dt.strftime('%d-%m-%Y')

In [492]:
mapping_location = {1.0:'Asia Pacific', 2.0:'Australasia', 3.0:'Eastern Europe', 4.0:'Latin America', 5.0:'Middle East and Africa', 6.0:'North America', 7.0:'Western Europe', 8.0:'World'}
market_size['Location'].replace(mapping_location,inplace=True)

In [493]:
market_size["Weird_year"] = market_size["Year_minus_2016"] + 2016

In [494]:
subcategories_mapping = subcategories["Name"].to_dict()
market_size['Subcategory'].replace(subcategories_mapping,inplace=True)

In [496]:
market_size.to_csv("./clean_data/market_size.csv")